
	<section class="wrapper pb20 pt20">
		<div id="divcont" data-ng-controller="dashboardController as chart" ng-cloak>
		<div class="col-md-12 f_cnt_top_outer pt20 nopadding">
			<div class="col-md-12 f_content_top">
				<div class="col-md-3">
					<h3 class="">SPONSORS</h3>
					<hr class="title_hr">&nbsp;</hr>
					<div class="values_large">{{chart.dashboard.sponsor_total}}</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12 f_cnt_center">
						<h3 class="text-center">TOTAL PARTICIPANTS WORLDWIDE</h3>
						<hr class="title_hr">&nbsp;</hr>
						<div class="values_large">{{chart.dashboard.participant_total | number:0}}</div>
					</div>
				</div>
				<div class="col-md-3">
					<h3 class="">STUDIES</h3>
					<hr class="title_hr">&nbsp;</hr>
					<div class="values_large">{{chart.dashboard.study_total}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">&nbsp;</div>
		<div class="col-md-12">&nbsp;</div>
		<div class="col-md-12 f_cnt_mid_top pb20">
			<div class="col-md-4">
				<h4>
					<span class="img_logo"><img src="content/images/{{chart.dashboard.sponsors.pfi.logo_image}}" /></span><br>
					<span class="logo_des">{{chart.dashboard.studies[0].external_name}}</span><br>
					<hr class="title_hr">&nbsp;</hr>
				</h4>
				<div class="col-md-12 pie_chart nopadding">
					<highchart id="chart-pfizer" config="chart.pfizer"></highchart>
				</div>
				<span class="no_participant">{{chart.pfizerParticipants | number:0}} Participants</span>
			</div>
			<div class="col-md-4">
				<h4>
					<span class="img_logo"><img src="content/images/{{chart.dashboard.sponsors.lly.logo_image}}" /></span><br>
					<span class="logo_des">{{chart.dashboard.studies[1].external_name}}</span><br>
					<hr class="title_hr">&nbsp;</hr>
				</h4>
				<div class="col-md-12 pie_chart nopadding">
					<highchart id="chart2" config="chart.llyChart"></highchart>
				</div>
				<span class="no_participant">{{chart.llyParticipants | number:0}} Participants</span>
			</div>
			<div class="col-md-4">
				<h4>
					<span class="img_logo"><img src="content/images/{{chart.dashboard.sponsors.gsk.logo_image}}" /></span><br>
					<span class="logo_des">{{chart.dashboard.studies[2].external_name}}</span><br>
					<hr class="title_hr">&nbsp;</hr>
				</h4>
				<div class="col-md-12 pie_chart nopadding">
					<highchart id="chart3" config="chart.gskChart"></highchart>
				</div>
				<span class="no_participant">{{chart.gskParticipants | number:0}} Participants</span>
			</div>
		</div>
		<div class="col-md-12">&nbsp;</div>
		<div class="col-md-12 map_content nopadding">
			<h2 class="col-md-12 page_block_title"><i class="fa fa-circle"></i> STUDY SITES</h2>
			<hr class="title_hr">&nbsp;</hr>
			<h4 class="col-md-12 mt0 mb0 pt15 pb15">COUNTRIES INTRODUCED TO ENROLL</h4>

			<div class="col-md-12 nopadding">
				<div class="flag_tag">
					<div class="f1">
						<div class="f1_img pull-left">
							<img height="50px" width="60px" src="content/images/a1.png" style="margin-left:15px;margin-top:28px ">
						</div>
						<div class="fl_text1 pull-left">
							<div class="f1_hori">
								<h1>{{chart.dashboard.language_totals[0].en_US}}</h1>
								<span style="font-family: open_sansregular; font-weight: unset; letter-spacing: 0px;">Sites</span>
							</div>
						</div>
					</div>
					<div class="f1">
						<div class="f1_img pull-left">
							<img height="50px" width="60px" src="content/images/a2.png" style="margin-left:15px;margin-top:28px ">
						</div>
						<div class="fl_text pull-left">
							<div class="f1_hori">
								<h1>{{chart.dashboard.language_totals[1].pt_BR}}</h1>
								<span style="font-family: open_sansregular; font-weight: unset; letter-spacing: 0px;">Sites</span>
							</div>
						</div>
					</div>
					<div class="f1">
						<div class="f1_img pull-left">
							<img height="50px" width="60px" src="content/images/a3.png" style="margin-left:15px;margin-top:28px ">
						</div>
						<div class="fl_text pull-left">
							<div class="f1_hori">
								<h1>{{chart.dashboard.language_totals[2].zh_CN}}</h1>
								<span style="font-family: open_sansregular; font-weight: unset; letter-spacing: 0px;">Sites</span>
							</div>
						</div>
					</div>
					<div class="f1">
						<div class="f1_img pull-left">
							<img height="50px" width="60px" src="content/images/a4.png" style="margin-left:15px;margin-top:28px ">
						</div>
						<div class="fl_text pull-left">
							<div class="f1_hori">
								<h1>{{chart.dashboard.language_totals[3].it_IT}}</h1>
								<span style="font-family: open_sansregular; font-weight: unset; letter-spacing: 0px;">Sites</span>
							</div>
						</div>
					</div>
					<div class="f1">
						<div class="f1_img pull-left">
							<img height="50px" width="60px" src="content/images/a5.png" style="margin-left:15px;margin-top:28px ">
						</div>
						<div class="fl_text pull-left">
							<div class="">
								<h1>{{chart.dashboard.language_totals[4].hi_IN}}</h1>
								<span style="font-family: open_sansregular; font-weight: unset; letter-spacing: 0px;">Sites</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">&nbsp;</div>
				<div id="container" style="height: 450px; min-width: 310px; max-width: 960px; margin: 0 auto"></div>
			</div>
		</div>
		
		<div class="col-md-12">&nbsp;</div>

		<div class="col-md-12 bord_hr graph_time_knowledge nopadding">
			<div class="col-md-12 pb15 pt15">
				<div class="col-md-2 day_text text-center">
					<img src="content/images/days_count.png" alt="days" /></br>
					<span class="col-md-12 mt10 nopadding">32 DAYS LEFT</span>
				</div>
				<div class="col-md-7 glaxo_ttl">
					<span class="col-md-12 ttl_1">GlaxoSmithKline</span></br>
					<span class="col-md-12 ttl_2">GSK Reprise</span></br>
					<span class="col-md-12 ttl_3"><img src="content/images/flag.png" /> San Francisco, CA</span>
				</div>
				<div class="col-md-3 text-right">
					<img src="content/images/gsk_large.png" />
				</div>

			</div>
		</div>

			<div class="col-md-12 hr_pad graph_time_knowledge">
			<div class="col-md-4">
				<h3 class="col-md-12 inner_block_title">DEMOGRAPHICS</h3>
				<hr class="title_hr">&nbsp;</hr>
				<highchart config="chart.demoGraphgskChart" class="span10"></highchart>
			</div><!--DEMOGRAPHICS Ends here-->
			
			<div class="col-md-4">
				<h3 class="col-md-12 inner_block_title">TOTAL TIME</h3>
				<hr class="title_hr">&nbsp;</hr>
				<div class="col-md-12 pie_chart nopadding">
					<highchart config="chart.totalTimeGsk" class="span10"></highchart>
				</div>
			</div><!--TOTAL TIME Ends here-->
			
			<div class="col-md-4">
				<h3 class="col-md-12 inner_block_title">KNOWLEDGE REVIEW</h3>
				<hr class="title_hr">&nbsp;</hr>
				<div class="knowledge_image">
					<highchart config="chart.knowledgeReview" class="span10"></highchart>
				</div>
			</div><!--KNOWLEDGE REVIEW Ends here-->
		</div>
	</div>
</section>

			<script>
				$( document ).ready(function() {
					$("#chart-pfizer tspan:contains('CounterSigned Total')").html("doll")
				});

			</script>